* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: PT sans;
    background-color: #091d26;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: whitesmoke;
}
header i {
  color: ghostwhite;
}
header div span {
  margin-left: .5rem;
}
.open-paragraph{
  padding: 2rem;
  margin-top: 3rem;
  color: white;
}
.paragraph2 {
  padding: 0rem 2rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: white;
  text-decoration-color: #d84f2a;
}
.main {
  display: none;
  padding: 2rem;
  font-family: PT sans;
}
form {
  display: flex;
  justify-content: center;
}
form input {
  flex: 0.75;
  border: 1px solid grey;
  outline: none;
  padding: .4rem;
  background: #171717;
  font-family: PT sans;
  color: white;
  max-height: 1.5rem;
  font-size: .7rem;
}
form input::placeholder {
  padding-left: 0.5rem;
  font-size: .7rem;
  color: white;
}
form button {
  flex: 0.15;
  font-size: .65rem;
  background: #102937;
  border: 1px solid grey;
  outline: none;
  color: whitesmoke;
  font-family: PT sans;
  max-height: 1.5rem;
}
form button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
form i {
  color: white;
}
.requests {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll {
  font-size: .7rem;
  color: whitesmoke;
  border: 1px solid grey;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7ch 0ch .7ch .8ch;
}
#up, #down {
  padding: .4ch .5ch 0ch 2ch;
  font-size: .7rem;
}
#up {
  display: none;
}
nav ul {
  border: 1px solid grey;
  border-top: 1px solid #171717;
  display: none;
}
nav ul li{
  list-style-type: none;
  font-size: .75rem;
  color: whitesmoke;
  margin-top: .4rem;
  padding-left: .8ch;
}
li:hover, #up:hover, #down:hover{
  cursor: pointer;
}
.requestTab {
  margin-top: 2rem;
  font-family: PT sans;
}
.title {
  display: flex;
}
#paramsTab {
  border: 1px solid grey;
  color: white;
  border-bottom: none;
}
.requestTab h4 {
  font-size: .6rem;
  color: #0b7b9e;
  padding: .2rem .4rem;
}
.useragent, .baseurl {
  padding-left: .2rem;
  color: #f9774b;
}
.requestTab h4:hover {
  cursor: pointer;
}
#queryParametersContainer {
  padding: .7rem 0rem;
  border: 1px solid grey;
}
#queryParametersContainer div {
  display: flex;
  padding: 0rem .7rem;
}
#queryParametersContainer input::placeholder {
  color: white;
  padding-left: 0.4rem;
  font-size: .6rem;
}
#queryParametersContainer input {
  padding: .3rem;
  font-size: .7rem;
  color: whitesmoke;
  outline: none;
  width: 40%;
  
}
#queryParametersContainer div button {
  width: 20%;
  color: #ef3a2f;
  font-size: .7rem;
}
#queryParametersContainer input, #queryParametersContainer button {
  background: inherit;
  border: 1px solid grey;
  font-family: PT sans;
  outline: none;
}
#addQueryParamButton {
  margin-top: .7rem;
  margin-left: .7rem;
  outline: none;
  color: seagreen;
  font-size: .65rem;
  padding: .25rem;
  font-family: PT sans;
}
 #addQueryParamButton:hover {
  cursor: pointer;
  color: white;
  background: #0ad488;
}
#remove:hover {
  color: white;
  background: #e63946;
}
.requestjson {
  display: none;
}
.json-editor {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}
#jsonInput {
  flex: 1;
  color: white;
  font-size: .7rem;
  margin: .5rem;
  padding: .25rem;
  padding-left: .5rem;
  font-family: PT sans;
  outline: none;
  background: inherit;
  resize: vertical;
  min-height: 5rem;
}
.json-editor div {
  margin-left: .5rem;
  margin-bottom: .4rem;
}
.json-editor div button {
  font-size: .65rem;
  background: #102937;
  border: 1px solid grey;
  outline: none;
  color: whitesmoke;
  font-family: PT sans;
  padding: .2rem;
}


h3 {
  font-family: PT sans;
  margin-top: 4rem;
  color: white;
}
.response-data {
  padding-top: .6rem;
  display: flex;
  font-size: .7rem;
  gap: 1rem;
  color: white;
}
.response-title {
  padding-top: .6rem;
  display: flex;
  color: #0b7b9e;
  font-size: .6rem;
}

#body {
  border: 1px solid grey;
  color: white;
  border-bottom: none;
}
#responseField, #responseHeaderField, #requestHeaderField{
  font-family: PT sans;
  padding: 1rem;
  font-size: 0.7rem;
  color: white;
  outline: none;
  word-wrap: break-word;
  width: 100%;
  min-height: 8rem;
  resize: vertical;
  background: #212121;
  border: 1px solid grey;
}
#responseHeaderField {
  display: none;
}
#requestHeaderField {
  background: inherit;
  display: none;
  min-height: 5rem;
  padding-top: 0.5rem;
}